@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_iiUXtHA-Q.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}

html {
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    color:  #fff4e6
    
}
header {
    background-color: #3c2f2f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 100;
    height: 64px;
    position: fixed;
    top: 0;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid #fff4e6;
    font-family: "Playfair Display", Helvetica, sans-serif;
    color:  #fff4e6;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: #be9b7b;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: #fff4e6;
}

.logo {
    display: flex;
    align-items: center;
    position: fixed;
    left: 24px;
    font-style: italic;
    
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    right: 24px;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

nav li,
.fnav li {
    display: inline;
    padding: 16px;
    font-size: 1.25rem;
}

#colmar {
    font-style: normal;
    color: #be9b7b;
}

/*Main styling begins here*/

.banner,
.info,
.bb,
.holder,
.thesis,
.cta,
.fisma,
.study {
    display: flex;
    
}

.banner {
    margin-top: 64px;
    padding-right: 32px;;
    align-items: center;
    text-align: center;
    
}



.banner img {
    margin-top: 32px;
    padding: 32px 24px;
    width: 60%
}

.learn {
    width: 40%;
    padding-left: 24px;
    padding-right: 32px;
    
}

.button {
    background-color: #854442;
    text-align: center;
    border: 3px solid #fff4e6;
    border-radius: 5px;
    color: #fff4e6;
    width: fit-content;
    margin-left: 32%;
    padding: 8px 48px;
}


.banner,
.cta{
    background-color: #5A2555;
}

.info,
.thesis {
    background-color: #4b3832;
}

.practice {
    max-width: 60%;
    padding:32px 24px;
}

.event,
.spevent {
    padding: 16px;
    display: flex;
    align-items: center;
}

.bulletin {
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 16px 24px;
}

p {
    font-size: 1.25rem;
}

.show {
   display: flex;
    max-width: 60%;
flex: 1 1 auto;
}

.videobox {
    width: 100%;
    height: fit-content;
    padding: 24px 24px;
    
}
video {
    width: 100% !important;
    height: auto !important;
    
}
.thesis {
    display: flex;
    flex-wrap: wrap;
}
.thesishead {
    width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.text {
    max-width: 65%;
    padding: 16px 16px;
}


.cta{
    padding: 32px 72px;
    flex-wrap: wrap;
    
}

.ctahead {
    width: 100%;
    text-align: center;

}

#Emanuel {
    font-size: 1rem;
    font-style: italic;
}


.course {
    background-color: #fff4e6;
    margin: 32px;
    width: fit-content;
    flex: 1 1 25%;
    justify-items: center;
    align-content: center;
    padding-bottom: 24px;
    color: #3c2f2f;
}

.course img {
   height: auto;
   width: 100%;
   padding-bottom: 16px;
}

.course h3,
.course p {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.projects {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin: 24px 24px;
    justify-content: space-around;
}
#read {
    color:#3c2f2f;
}
#read:visited {
    color: #be9b7b;
}

.fisma,
.study {
    align-items: center;
    flex: 1 1 40%
    height: auto;
}

.fisma img,
.study img {
    margin: 16px;
    width: 35%;
    height: auto;
}
.fisma {
    background-color: ivory;
    color: #3c2f2f;
}

footer {
    background-color: #3c2f2f;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 64px;
    padding: 16px 24px 16px 24px;
    border-top: 1px solid #fff4e6;
    font-family: "Playfair Display", Helvetica, sans-serif;
    color:  #fff4e6;
}

.fnav {
    display: flex;
    align-items: center;
    position: absolute;
    
    right: 24px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    
}