@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_iiUXtHA-Q.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}
header {
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 100;
    height: 64px;
    position: fixed;
    top: 0;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid indigo;
    font-family: "Playfair Display", Helvetica, sans-serif;
    
    color: indigo;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: indigo;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: gray;
}

.logo {
    display: flex;
    align-items: center;
    position: fixed;
    left: 24px;
    font-style: italic;
    
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    right: 24px;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

nav li {
    display: inline;
    padding: 16px;
    font-size: 1.25rem;
}

#colmar {
    font-style: normal;
    color: darkgoldenrod;
}

/*Main styling begins here*/

.banner,
.info,
.bb,
.holder,
.thesis {
    display: flex;
    
}

.banner {
    margin-top: 64px;
    align-items: center;
}

.imgcontainer {
    width: 60%;
    margin: 32px 24px;
    padding-top: 32px;
}
.button {
    background-color: indigo;
    text-align: center;
    color: gray;
}

.button p {
    font-size: 1.5rem;
    padding: 8px auto;
}
.banner,
.thesis {
    background-color: goldenrod;
}

.info,
.cta {
    background-color: gray;
}

.practice {
    max-width: 60%;
    padding:32px 24px;
}

.holder {
    padding: 16px;
}

.bb {
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 16px auto 32px 0;
}


p {
    font-size: 1.25rem;
}
.videobox {
    width: 60%;
    padding: 0 24px 24px 24px;
}

.thesis {
    flex-wrap: wrap;
}
.thesishead {
    width: 100%;
    text-align: center;
    padding: 32px auto;
}

.thumbs {
    
}