@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_iiUXtHA-Q.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}

html {
    font-size: 16px;
}

header {
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 100;
    height: 64px;
    position: fixed;
    top: 0;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid indigo;
    font-family: "Playfair Display", Helvetica, sans-serif;
    
    color: indigo;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: indigo;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: gray;
}

.logo {
    display: flex;
    align-items: center;
    position: fixed;
    left: 24px;
    font-style: italic;
    
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    right: 24px;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

nav li {
    display: inline;
    padding: 16px;
    font-size: 1.25rem;
}



#colmar {
    font-style: normal;
    color: darkgoldenrod;
}